@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Indie+Flower");
@font-face {
  font-family: "NeoSansPro";
  src: url("fonts/NeoSansProBoldIt.OTF") format("opentype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "NeoSansPro";
  src: url("fonts/NeoSansProBold.OTF") format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "NeoSansPro";
  src: url("fonts/NeoSansProRegular.OTF") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NeoSansPro";
  src: url("fonts/NeoSansProItalic.OTF") format("opentype");
  font-weight: normal;
  font-style: italic;
}
html {
  background: radial-gradient(
      66.5% 221.21% at 136.03% -61.44%,
      rgba(255, 0, 0, 0.4) 0%,
      rgba(161, 155, 217, 0) 92.09%
    ),
    radial-gradient(
      93.54% 126.91% at 29.15% -56.29%,
      rgba(177, 81, 255, 0.7) 0%,
      rgba(233, 69, 96, 0) 92.09%
    ),
    radial-gradient(
      86.19% 101.84% at -17.13% -24.8%,
      rgba(119, 236, 255, 0.79) 0%,
      rgba(35, 62, 77, 0) 92.09%
    ),
    #1a1a2e;
  font-family: NeoSansPro, sans-serif;
  font-weight: normal;
  color: white;
  text-transform: uppercase;
  overflow-x: hidden;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: left top;
}

#warning-message a {
  font-size: 26px;
  font-family: NeoSansPro, sans-serif;
  font-weight: bold;
  color: white;
  text-decoration: none;
  text-align: center;
  display: block;
}

#warning-message p {
  font-size: 16px;
  font-family: NeoSansPro, sans-serif;
  color: white;
  text-align: center;
}

#warning-message {
  margin-top: 20px;
}

label {
  font-weight: bold;
}

label,
button,
header,
.secondary-button {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

header {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

h2 {
  font-size: 26px;
  font-family: NeoSansPro, sans-serif;
  font-weight: bold;
  color: white;
  text-align: center;
}

.primary-button {
  font-family: NeoSansPro, sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  color: white;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0px 1px 2px rgba(26, 26, 46, 0.7);
  text-decoration: none;
  border: none;
  padding: 12px 26px;
  border-radius: 999px;
  background: #6cb928;
  box-shadow: 0px -2px 0px 0px rgba(0, 0, 0, 0.3) inset,
    0px 1px 0px 0px rgba(255, 255, 255, 0.2) inset,
    0px 4.4px 18px 0px rgba(0, 0, 0, 0.25);
  transition: all 200ms;
}
.primary-button:hover {
  transform: scale(1.1);
  transition: all 200ms;
}
.primary-button:active {
  transform: scale(1);
  transition: all 200ms;
}

.secondary-button {
  text-align: center;
  padding: 10px 24px;
  border-radius: 60px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  background: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(9.5px);
  font-size: 12px;
  font-style: italic;
  transition: all 200ms;
}
.secondary-button:hover {
  transform: scale(1.1);
  transition: all 200ms;
}
.secondary-button:active {
  transform: scale(1);
  transition: all 200ms;
}

.buttons-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}

.generator-section {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.random-form {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px 30px;
  border-radius: 18px;
  flex-wrap: wrap;
}
.random-form div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.generator-title {
  position: relative;
  display: flex;
  gap: 12px;
  align-items: center;
}

.generator-title i {
  font-size: 20px;
}

.generator-informations {
  visibility: hidden;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.95);
  border-radius: 18px;
  padding: 6px 20px;
  text-transform: none;
  position: absolute;
  z-index: 1;
  top: 60px;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  height: 22px;
  width: 22px;
  border-radius: 4px;
  background-color: transparent;
  border: solid 3px #7950e5;
  display: flex;
  justify-content: center;
}
input[type="checkbox"]:after {
  font-family: "Font Awesome 6 Free";
  font-size: 16px;
  font-weight: 900;
  content: "\f00c";
  color: white;
  display: none;
}
input[type="checkbox"]:checked {
  background-color: #7950e5;
}
input[type="checkbox"]:checked:after {
  display: block;
}
